# node deps
**/node_modules/

# next.js
**/out/
**/.next/
**/next-env.d.ts

# sveltekit & vite
**/.svelte-kit/
**/build/
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

# tauri generated
apps/client/src-tauri/gen/

# typescript & generated types
*.tsbuildinfo
apps/@shared/core/bindings/
apps/client/src-tauri/bindings/

# turborepo
**/.turbo/

# cargo
target/
.cargo/

# ide
.vscode/*
!.vscode/settings.json

# envs
*.env*
