@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

.dark {
  @apply bg-black text-white;
}

.light {
  @apply bg-white text-black;
}

.flexcol {
  @apply flex flex-col;
}
