@import "@xyflow/react/dist/style.css";
@import "react-toastify/dist/ReactToastify.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 100% 0%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: var(--background);
    --popover-foreground: 210 40% 98%;
    --primary: 0 100% 100%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .layer-dark {
    @apply !bg-black !text-white;
  }
  .layer-light {
    @apply !bg-white !text-black;
  }

  .flexcol {
    @apply flex flex-col;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  @apply w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-input rounded-lg;

  &:hover {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar-corner {
  @apply opacity-0;
}

/* cmdk overwrites */
[cmdk-input-wrapper] {
  @apply !border-b-0;
}

/* reactflow overwrites */
.react-flow__node {
  @apply !bg-transparent !border-0 !w-min !p-0 !outline-0 !ring-0;
}

.react-flow__node.selected > article,
.react-flow__nodesselection-rect {
  @apply !outline !outline-dashed !outline-blue-600 !outline-2;
}
